.imageList {
  width: 80%;
  margin: 5% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.title {
  text-align: center;
}

@media screen and (max-width: 1080px) {
  .imageList {
    width: 90%;
  }
}
